<!-- Left/right arrow buttons -->
<button type="button" class="btn btn-default left-style" onclick="boutique_previous()"><span class="glyphicon glyphicon-arrow-left"></span></button>
<button type="button" class="btn btn-default right-style" onclick="boutique_next()"><span class="glyphicon glyphicon-arrow-right"></span></button>

<!-- Carousel -->
<ul id="boutique"></ul>

<!-- Song Table -->
<div id="table-wrapper">
  <table class="table table-hover hover-color songs-table">
    <tbody>
      <tr>
        <th scope="row" class="song-order-spacing"><div class="song-order">1</div></th>
        <td class="favorite-spacing"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td class="song-name">Otto
          <span class="explicit">
            explicit
          </span>
          <span class="upbeat">
            upbeat
          </span>
        </td>
        <td class="song-time">2:54</td>
      </tr>
      <tr>
        <th scope="row" class="song-order-spacing"><div class="song-order">2</div></th>
        <td class="favorite-spacing"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td class="song-name">Thornton</td>
        <td class="song-time">2:54</td>
      </tr>
      <tr>
        <th scope="row" class="song-order-spacing"><div class="song-order">3</div></th>
        <td class="favorite-spacing"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td class="song-name">the Bird</td>
        <td class="song-time">2:54</td>
      </tr>
      <tr>
        <th scope="row" class="song-order-spacing"><div class="song-order">4</div></th>
        <td class="favorite-spacing"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td class="song-name">the Bird</td>
        <td class="song-time">2:54</td>
      </tr>
      <tr>
        <th scope="row" class="song-order-spacing"><div class="song-order">5</div></th>
        <td class="favorite-spacing"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td class="song-name">the Bird</td>
        <td class="song-time">2:54</td>
      </tr>
      <tr>
        <th scope="row" class="song-order-spacing"><div class="song-order">6</div></th>
        <td class="favorite-spacing"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td class="song-name">the Bird
          <span class="explicit">
            explicit
          </span>
          <span class="upbeat">
            upbeat
          </span>
        </td>
        <td class="song-time">2:54</td>
      </tr>
      <tr>
        <th scope="row" class="song-order-spacing"><div class="song-order">7</div></th>
        <td class="favorite-spacing"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td class="song-name">the Bird</td>
        <td class="song-time">2:54</td>
      </tr>
    </tbody>
  </table>
</div>
