<!-- Left/right arrow buttons -->
<button type="button" class="btn btn-default left-style" onclick="boutique_previous()"><span class="glyphicon glyphicon-arrow-left"></span></button>
<button type="button" class="btn btn-default right-style" onclick="boutique_next()"><span class="glyphicon glyphicon-arrow-right"></span></button>

<!-- Carousel -->
<ul id="boutique"></ul>

<!-- Song Table -->
<div class="songs-table">
  <table class="table table-hover hover-color">
    <tbody>
      <tr>
        <div class="song-order">
          <th scope="row">1</th>
        </div>
        <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
