<!-- Left/right arrow buttons -->
<button type="button" class="btn btn-default left-style" onclick="boutique_previous()"><span class="glyphicon glyphicon-arrow-left"></span></button>
<button type="button" class="btn btn-default right-style" onclick="boutique_next()"><span class="glyphicon glyphicon-arrow-right"></span></button>

<!-- Carousel -->
<ul id="boutique"></ul>
