<!-- Left/right arrow buttons -->
<button type="button" class="btn btn-default left-style" onclick="boutique_previous()"><span class="glyphicon glyphicon-arrow-left"></span></button>
<button type="button" class="btn btn-default right-style" onclick="boutique_next()"><span class="glyphicon glyphicon-arrow-right"></span></button>

<!-- Carousel -->
<ul id="boutique"></ul>

<!-- Song Table -->
<div id="table-wrapper">
  <table class="table table-hover hover-color songs-table">
    <tbody>
    </tbody>
  </table>
</div>
