<!DOCTYPE html>
<html>
<head>
  <title>JukeBox</title>
  <%= csrf_meta_tags %>
  <!-- Boutique Carosel -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

</head>

<body>

  <%= yield %>
</body>
</html>
